/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NOM Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {

//GLOBAL

  help = null

  max_memory                 = '70.GB'
  max_cpus                   = 40
  max_time                   = '240.h'

  params.outdir = "results"
  logo = "$baseDir/data/blank_logo.png"
  pipeline_version = '0.1'

  skip_taxonomic_profiling = null
  skip_assembly = null
  skip_bacterial_typing = null

  skip_coassembly = null

  yersinia_mlst_blastdb = ''
  yersinia_mlst_datadir = ''


// READ_QC
  FASTQC_PRE.args = ""
  FASTP.args = ""
  FASTP.adapterlist = ""
  FASTP.savetrimmedfail = false
  FASTP.savemerged = false


// READ_DECONTAMINATION
  KRAKEN2_HOST.args = ""
  BWAMEM_HOST.args = ""
  SAMTOOLS_BAM2FQ.args = ""
  BWAMEM_HOST.genome = '' // check
  KRAKEN2_HOST.db = ""
  KRAKEN2_HOST.saveoutfastq = true
  KRAKEN2_HOST.savereads = false


// READ_QC_SUMMARY
  FASTQC_POST.args = ""
  MULTIQC.args = ""


// READ_TYPING
  METAMLST.args = ""
  CONVERT_METAMLSTTOCC.args = ""
  METAMLST.db = ''


//TAXONOMIC_PROFILING
  KRAKEN2_TAXPROFILING.args = ""
  TAXPASTA_STANDARDISE_KRAKEN2.args = ""
  BRACKEN_KRAKEN2.args = ""
  TAXPASTA_STANDARDISE_BRACKEN.args = ""
  CENTRIFUGER_CENTRIFUGER.args = ""
  CENTRIFUGER_KREPORT.args = ""
  BRACKEN_CENTRIFUGER.args = ""
  TAXPASTA_STANDARDISE_CENTRIFUGER.args = ""
  PLOT_CENTRIFUGERBRACKEN.args = ""
  PLOT_CENTRIFUGER.args = ""
  PLOT_KRAKEN2BRACKEN.args = ""
  PLOT_KRAKEN2.args = ""
  PARSE_KRAKEN2HITS.args = ""
  PARSE_CENTRIFUGERHITS.args = ""
  PLOT_TAXHITS.args = ""
  TAXONOMIC_PROFILING.krakendb = ""
  TAXONOMIC_PROFILING.centrifugerdb = ""
  TAXONOMIC_PROFILING.gtdb_metadata = ""
  TAXONOMIC_PROFILING.dbdir = ""
  TAXONOMIC_PROFILING.target_species = "$baseDir/data/target_species.tsv"
  PARSE_KRAKEN2HITS.min_target_reads = 1
  PARSE_KRAKEN2HITS.min_target_fraction = 0
  PARSE_CENTRIFUGERHITS.min_target_reads = 1
  PARSE_CENTRIFUGERHITS.min_target_fraction = 0
  TAXONOMIC_PROFILING.template = "$baseDir/data/taxhits_report_template.html"


//ASSEMBLY
  MEGAHIT.args = ""
  MEGAHIT.min_contig_len = 500
  MEGAHIT.presets = "meta-sensitive"
  SEQTK_RENAME.args = ""
  BWAMEM2_INDEX_MAG_S1.args = ""
  BWAMEM2_MEM_MAG_S1.args = ""
  SAMTOOLS_INDEX_MAG_S1.args = ""


//BIN_ASSIGNMENT
  METABAT2_METABAT2.args = ""
  METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS.args = ""
  FILTER_CONTIGS.args = ""
  TIARA_TIARA.args = ""
  BBMAP_PILEUP.args = ""
  FILTER_PILEUP.args = ""
  SEMIBIN_SINGLEEASYBIN.args = ""
  SEMIBIN_SINGLEEASYBIN.environment = "human_gut"
  MAXBIN2.args = ""
  SEMIBIN_SINGLEEASYBIN.args = ""
  DASTOOL_FASTATOCONTIG2BIN_SEMIBIN2.args = ""
  DASTOOL_FASTATOCONTIG2BIN_METABAT2.args = ""
  DASTOOL_FASTATOCONTIG2BIN_MAXBIN2.args = ""
  DASTOOL.score_threshold = 0.5
  DASTOOL_DASTOOL.args = ""
  FETCH_UNBINNED.args = ""
  RENAME_CONTIGS.args = ""


//CONTIG_QC
  BWAMEM2_MEM_MAG_S2.args = ""
  BWAMEM2_INDEX_MAG_S2.args = ""
  MINIMAP2_ALIGN_1.args = ""
  GENOMAD_ENDTOEND.args = ""
  SKANI_SEARCH.args = ""
  SEQKIT_FX2TAB.args = ""
  SAMTOOLS_INDEX_1.args = ""
  SAMTOOLS_COVERAGE.args = ""
  SKANI_SEARCH.db = ''
  GENOMAD_ENDTOEND.db = ''


//BIN_QC
  CHECKM_LINEAGEWF.args = ""
  GTDBTK_CLASSIFYWF.args = ""
  QUAST.args = ""
  ASSEMBLY_STATS.args = ""
  PLOT_BINS.args= ""
  PLOT_BINS.template = "$baseDir/data/bin_report_template.html"
  GTDBTK_CLASSIFYWF.mash_db = ""
  GTDBTK_CLASSIFYWF.gtdb_db = ""
  GTDBTK_CLASSIFYWF.release = "release220"
  CHECKM_LINEAGEWF.db = ""
  GTDBTK_CLASSIFYWF.min_perc_aa = 10
  gtdbtk_min_perc_aa = GTDBTK_CLASSIFYWF.min_perc_aa
  GTDBTK_CLASSIFYWF.min_af = 0.65
  gtdbtk_min_af = GTDBTK_CLASSIFYWF.min_af
  GTDBTK_CLASSIFYWF.pplacer_scratch = true
  gtdbtk_pplacer_scratch = GTDBTK_CLASSIFYWF.pplacer_scratch


//BIN_TAXONOMY
  ASSIGN_TAXONOMY.args= ""
  FILTER_BAM.args = ""
  ASSIGN_TAXONOMY.definitiontable = "$baseDir/data/gtdb_metadata_guide_r220.tsv"
  ASSIGN_TAXONOMY.ani_cutoff = 0.75
  ASSIGN_TAXONOMY.aln_frac = 0.75


//BACTERIAL TYPING
////AMR_TYPING
  AMRFINDERPLUS_RUN.args = ""
  ABRICATE_RUN.args = ""
  ABRITAMR_RUN.args = ""
  RGI_MAIN.args = ""
  RESFINDER.args = ""
  HAMRONIZATION_ABRICATE.args = ""
  HAMRONIZATION_RGI.args = ""
  HAMRONIZATION_AMRFINDERPLUS.args = ""
  HAMRONIZATION_RESFINDER.args = ""
  HAMRONIZATION_POINTFINDER.args = ""
  HAMRONIZATION_SUMMARIZE.args = ""

  RESFINDER.db = ""
  RESFINDER.db_version = "2.3.2"
  RESFINDER.software_version = "4.5.0"

  POINTFINDER.db = ""
  POINTFINDER.db_version = "4.1.0"
  POINTFINDER.software_version = "4.5.0"

  AMRFINDERPLUS_RUN.db = ""
  AMRFINDERPLUS_RUN.db_version = "2024-01-31.1"
  AMRFINDERPLUS_RUN.software_version = "3.12.8"

  ABRICATE_RUN.db_version = "2024-Apr-30"
  ABRICATE_RUN.software_version = "1.0.1"

  RGI_MAIN.db_version = "X"
  RGI_MAIN.software_version = "6.0.3"

  ABRITAMR_RUN.db_version = "X"
  ABRITAMR_RUN.software_version = "1.0.17"

////SEQUENCE_TYPING
  MLST.args = ""
  CONVERT_MLSTTOCC.args = ""
  SEQUENCE_TYPING.cc_definitions = "$baseDir/data/gastro_fastq_to_vcf_config.json"
  MLST.yersinia_blastdb = ''
  MLST.yersinia_datadir = ''

////TARGETED_TYPING
  PLASMIDFINDER.args = ""
  VIRULENCEFINDER.args = ""
  BLASTN_BLASTN.args = ""
  FILTER_BLAST.args = ""
  VIRULENCEFINDER.db = ""
  TARGETED_TYPING.genedbdir = ""
  SUMMARIZE_GENEFINDING.args = ""

////ECOLI
  ECTYPER.args = ""
  STECFINDER.args = ""
  SHIGEIFINDER.args = ""
  MYKROBE_PREDICT_SSONNEI.args = "--panel 20210201"
  SHIGATYPER.args = ""
  FILTER_ECOLI.args = ""

////SALMONELLA
  MYKROBE_PREDICT_STYPHI.args = "--panel 20221207"
  SEQOSEQ2.args = ""
  SISTR.args = ""
  MYKROBE_PREDICT_SPARATYPHIB.args = "--panel 20230627"
  FILTER_TYPING_SALMONELLA.args = ""
  FILTER_SALMONELLA.args = ""

////LISTERIA_MONOCYTOGENES
  LISSERO.args = ""


//CREATE_REPORT
  CREATE_REPORT.summary_template = "$baseDir/data/summary_report_template.html"
  CREATE_REPORT.amr_template = "$baseDir/data/amr_report_template.html"
  CREATE_REPORT.amr_tool = 'resfinder'
  SUMMARIZE_RESULTS.tax_mode = "Kraken2"
  SUMMARIZE_RESULTS.args = ""
  SUMMARIZE_AMR.args = ""


//CUSTOM_DUMPSOFTWAREVERSIONS
  CUSTOM_DUMPSOFTWAREVERSIONS.args = ""

}
